.main {
    display: grid;
    grid-template-columns: auto auto;
    background-color: dimgray;
    font-family: Garamond;
    padding: 10px;
}
.main div {
    background-color: dimgray;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: left;
    color: white
}
.main.evil {
    background-color: darkred;
    font-family: Papyrus;
}

.youtube {
    transition-duration: 0.4s;
}
.youtube:hover {
    background-color: red;
    color: white;
}

.portfolio {
    transition-duration: 0.4s;
}
.portfolio:hover {
    background-color: yellow;
    color: black;
}

.interaction {
    margin-top: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 60px;
    background: linear-gradient(gray,darkgray);
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 3px;
    transition: .2s;
    cursor: pointer;
}

.interaction:hover {
        background: linear-gradient(white,gray);
        transform: scale(1.05);
        box-shadow: 0 0 20px white;
}

.interaction:active {
    transform: scale(0.98);
}